<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <style>
        .block {
            margin: 40px;
        }

        .book-image {
            width: 80px;
            height: 100px;
            margin-left: 17px;
        }
    </style>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <title>ReadingList</title>
</head>
<body>
<div id="app">
    <div class="block">
        <el-timeline>
            <el-timeline-item :key="l.timestamp" :timestamp="l.timestamp" placement="top" v-for="l in list">
                <el-col :key="book.name" :span="3" v-for="book in l.books">
                    <el-card shadow="hover">
                        <el-image :lazy="true" :src="book.image" class="book-image"></el-image>
                        <div style="text-align: center">
                            <a :href="book.link" target="_blank">{{book.name}}</a>
                        </div>
                    </el-card>
                </el-col>
            </el-timeline-item>
        </el-timeline>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                list: [{
                    timestamp: '2019/09',
                    books: [
                        {
                            name: '软件开发者路线图',
                            link: 'https://book.douban.com/subject/4924164/',
                            image: 'https://soft-1252259164.cos.ap-shanghai.myqcloud.com/book-images/software_craftsman.jpg'
                        },
                        {
                            name: '数据库系统概念',
                            link: 'https://book.douban.com/subject/10548379/',
                            image: 'https://soft-1252259164.cos.ap-shanghai.myqcloud.com/book-images/database_system_concepts.jpg'
                        },
                    ]
                }]
            }
        }
    })
</script>
</body>
</html>
